<% layout('layouts/boilerplate') %>
    <div class="d-flex justify-content-center">
        <div>
            <form action="/campgrounds" method="POST">
                <label for="title">Title:</label>
                <div class="input-group mb-2">
                    <!-- <span class="input-group-text">@</span> -->
                    <input type="text" id="title" name="campground[title]" class="form-control" placeholder="Username">
                </div>
                <label for="image">Image:</label>
                <div class="input-group mb-2">
                    <!-- <span class="input-group-text">@</span> -->
                    <input type="text" id="image" name="campground[image]" class="form-control" placeholder="image">
                </div>
                <label for="price">Price:</label>
                <div class="input-group mb-2">
                    <!-- <span class="input-group-text">$</span> -->
                    <input type="text" id="price" name="campground[price]" class="form-control" placeholder="price">
                </div>
                <label for="location">Location:</label>
                <div class="input-group mb-2">
                    <!-- <span class="input-group-text">@</span> -->
                    <input type="text" id="location" name="campground[location]" class="form-control"
                        placeholder="location">
                </div>
                <label for="description">Description:</label>
                <div class="input-group mb-2">
                    <!-- <span class="input-group-text"></span> -->
                    <textarea id="description" name="campground[description]" class="form-control"
                        placeholder="description"></textarea>
                </div>
                <button type="button" class="btn btn-primary">Add Campground</button>


            </form>
        </div>

        <!-- <a href="/campgrounds">All campgrounds</a> -->
    </div>